@import "tailwindcss" important;
@plugin "daisyui";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fdfdfd;
  color: #000;
  scroll-behavior: smooth;
  color-scheme: light;
}

section {
  background-color: #fdfdfd;
}

label {
  display: block;
  color: rgb(49, 49, 49);
  margin-inline-end: 0.5rem;
  margin-block: 0.2rem;
  text-align: left;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

input {
  padding: 0.25rem 0.75rem;
  color: #000;
}

input[type="file"]::file-selector-button {
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Utilities */
.section-title {
  font-size: clamp(2rem, calc(1vw + 0.5rem), 2.5rem);
}

@layer components {
  .submit-btn {
    @apply block mt-4 px-4 py-1 rounded-xs font-semibold font-sans border border-gray-600 bg-gray-200;
  }
}
